.slider {
  height: 20%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

.slider-inner {
  height: 100%;
  list-style: none;
  width: 400%;

  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.slide {
  float: left;
  width: 25%;
}

.slider-control {
  display: none;
}

.slider-control-label {
  background-color: #CCC;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  width: 12px;
}

#slide-1:checked ~ .slider-inner {
  margin-left: 0;
}

#slide-2:checked ~ .slider-inner {
  margin-left: -100%;
}

#slide-3:checked ~ .slider-inner {
  margin-left: -200%;
}

#slide-4:checked ~ .slider-inner {
  margin-left: -300%;
}

#slide-1:checked ~ [for="slide-1"] {
  background-color: #000;
}

#slide-2:checked ~ [for="slide-2"] {
  background-color: #000;
}

#slide-3:checked ~ [for="slide-3"] {
  background-color: #000;
}

#slide-4:checked ~ [for="slide-4"] {
  background-color: #000;
}
