.slider {
  height: 20%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
}

.slider-inner {
  height: 100%;
  list-style: none;
  width: 400%;

  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.slide {
  float: left;
  width: 25%;
}

.slider-control {
  display: none;
}

.slider-control-label {
  background-color: #CCC;
  border: 2px solid #000;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  width: 12px;
}

.slider-control-label:hover,
.slider-control-label:focus {
  background-color: #FFF;
}

.slide-back,
.slide-next {
  background-color: #CCC;
  border-radius: 100%;
  border: 2px solid #000;
  color: #CCC;
  cursor: pointer;
  display: none;
  font-weight: bold;
  height: 26px;
  position: absolute;
  text-align: center;
  top: 50%;
  vertical-align: middle;
  width: 26px;
}

.slide-back:hover,
.slide-back:focus,
.slide-next:hover,
.slide-next:focus {
  background-color: #FFF;
}

.slide-back {
  left: 0;
}

.slide-next {
  right: 0;
}

.slider-arrow::before,
.slider-arrow::after {
  border: 2px solid black;
  border-radius: 9px;
  content: '';
  height: 0;
  position: absolute;
  width: 9px;
}

.slide-back::before {
  left: 5px;
  top: 8px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slide-back::after {
  bottom: 8px;
  left: 5px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slide-next::before {
  right: 5px;
  top: 8px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slide-next::after {
  bottom: 8px;
  right: 5px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#slide-1:checked ~ .slider-inner {
  margin-left: 0;
}

#slide-2:checked ~ .slider-inner {
  margin-left: -100%;
}

#slide-3:checked ~ .slider-inner {
  margin-left: -200%;
}

#slide-4:checked ~ .slider-inner {
  margin-left: -300%;
}

#slide-1:checked ~ .slider-control-label[for="slide-1"],
#slide-2:checked ~ .slider-control-label[for="slide-2"],
#slide-3:checked ~ .slider-control-label[for="slide-3"],
#slide-4:checked ~ .slider-control-label[for="slide-4"] {
  background-color: #000;
}

#slide-1:checked ~ .slide-back[for="slide-4"],
#slide-1:checked ~ .slide-next[for="slide-2"],
#slide-2:checked ~ .slide-back[for="slide-1"],
#slide-2:checked ~ .slide-next[for="slide-3"],
#slide-3:checked ~ .slide-back[for="slide-2"],
#slide-3:checked ~ .slide-next[for="slide-4"],
#slide-4:checked ~ .slide-back[for="slide-3"],
#slide-4:checked ~ .slide-next[for="slide-1"] {
  display: block;
}
